Repository Sinakhx/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

docs: add 'CONTRIBUTING.md'
  CONTRIBUTING.md
Due: npm run prettier

fix: new test setup
  package.json
  src/config/tests/setupTests.ts
  src/config/tests/testUtils.ts
  src/utils/helpers/functionalHelpers.ts
Due: npm run lint:fix-ts, npm run prettier

docs: add migration docs
  MIGRATION.md
Due: npm run prettier

chore: other temp changes
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  Readme.md
  package.json
  postcss.config.js
  src/App.tsx
  src/assets/styles/README.md
  src/assets/styles/main.scss
  src/assets/styles/modern-reset.scss
  src/assets/styles/tailwind.css
  src/components/common/Loading/Loading.tsx
  src/components/layout/Sidebar/SideBarLink.module.css
  src/components/layout/Sidebar/SideBarLink.tsx
  src/components/layout/Sidebar/Sidebar.module.css
  src/components/layout/Sidebar/Sidebar.tsx
  src/config/api/axiosConfig.ts
  src/config/api/reactQueryConfig.ts
  src/main.tsx
  src/pages/SamplePage/components/Button/Button.stories.tsx
  src/pages/SamplePage/components/Button/Button.tsx
  src/routes/ErrorFallback.tsx
  src/routes/LoadingFallback.tsx
  src/routes/router.tsx
  src/types/css.d.ts
  src/utils/helpers/errorHandling.ts
  src/utils/helpers/logHelpers.ts
  src/utils/hooks/usePrevious.ts
  vite.config.ts
  vitest.config.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

fix: tailwindcss and scss conflicts
  package.json
  postcss.config.js
  src/assets/styles/main.scss
  src/assets/styles/tailwind.css
  src/components/layout/Sidebar/SideBarLink.module.css
  src/components/layout/Sidebar/SideBarLink.module.scss
  src/components/layout/Sidebar/SideBarLink.tsx
  src/components/layout/Sidebar/Sidebar.module.css
  src/components/layout/Sidebar/Sidebar.module.scss
  src/components/layout/Sidebar/Sidebar.tsx
  src/main.tsx
  src/pages/SamplePage/SamplePage.tsx
  tailwind.config.js
  vite.config.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

chore(release): 0.2.0
  CHANGELOG.md
  package.json
Due: npm run prettier

fix: added lock file and removed it from gitignore
  .gitignore
  package-lock.json
Due: npm run prettier

ci: revert vite version to be compatible with storybook
  package-lock.json
  package.json
Due: npm run prettier

fix: eslint issues
  .eslintignore
  .eslintrc
  eslint.config.js
  src/components/layout/Sidebar/Sidebar.module.scss
  src/routes/ErrorFallback.tsx
  src/types/.d.ts
  src/utils/hooks/useDidMountEffect.ts
  src/utils/hooks/useLocalStorageState.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

chore(release): 0.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

fix: github actions workflows and versions
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy.yml
  .github/workflows/security.yml
  src/components/layout/Sidebar/Sidebar.module.scss
Due: npm run prettier, npm run lint:fix-styles

chore(release): 0.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

feat: add coderabbit config
  .coderabbit.yaml
  Readme.md
Due: npm run prettier

fix: coderabbit config
  .coderabbit.yaml
Due: none

chore(release): 0.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run prettier

docs: fix modern features section
  Readme.md
Due: npm run prettier

feat: add yaml linting rules to eslint and fix yaml files issues
  .coderabbit.yaml
  .github/workflows/dependencies.yml
  .github/workflows/deploy.yml
  .lintstagedrc
  eslint.config.js
  package-lock.json
  package.json
Due: npm run prettier

Path conditions:
  npm run lint:fix-ts: any of: src/**/*.{ts,tsx}
  npm run prettier: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{scss,css})) or (any of: *.{json,md})
  npm run lint:fix-styles: any of: src/**/*.{scss,css}
